<div>
  <h2 class="m-0"><%= recipe.recipe_name || "Untitled" %></h1>
  <p><%= recipe.description || "Missing description" %></p>
  <p><%= recipe.content || "Missing content" %></p>
  <p><%= recipe.shopping_list || "Missing shopping list" %></p>
  <p><%= recipe.prompt_summary || "Missing prompt summary" %></p>
  <p>Favorite: <%= recipe.favorite %></p>
</div>
