<div class="container d-flex justify-content-center align-items-center" style="min-height: 100dvh;">
  <div class="auth-card p-2 shadow-sm bg-white" style="max-width: 400px; width: 100%; border-radius: 12px;">
    <h2 class="mb-4 text-center">Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>

      <div class="form-inputs mb-3">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { 
                      autocomplete: "email",
                      class: "form-control",
                      style: "border-radius: 12px; height: 38px;"
                    } %>

        <%= f.input :password,
                    required: false,
                    input_html: { 
                      autocomplete: "current-password",
                      class: "form-control",
                      style: "border-radius: 12px; height: 38px;"
                    } %>

        <% if devise_mapping.rememberable? %>
          <div class="mb-2">
            <%= f.input :remember_me, as: :boolean %>
          </div>
        <% end %>
      </div>

      <div class="form-actions mb-3">
        <%= f.button :submit, "Log in", class: "btn btn-primary w-100", style: "border-radius: 12px; height: 38px;" %>
      </div>

    <% end %>

    <div class="pt-2 text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
