<!DOCTYPE html>
<html>
  <head>
    <title>LovelyLittleMeal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

    <%= javascript_importmap_tags %>
  </head>
  <body class="d-flex flex-column" style="height: 100vh; overflow: hidden;">
    <%= link_to "Skip to main content", "#main-content", class: "visually-hidden-focusable" %>
    <header class="flex-shrink-0">
      <%= render "shared/navbar" %>
    </header>
    <main id="main-content" class="flex-grow-1 overflow-hidden d-flex flex-column">
      <div class="flex-grow-1 overflow-hidden" style="min-height: 0;">
        <%= yield %>
      </div>
    </main>
    <%= render "shared/flashes" %>
  </body>
</html>
